html {
  box-sizing: border-box;
  background-color: whitesmoke;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}

.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 8px gray;
}

.link {
  text-decoration: none;
  color: black;
}

.nav-links > .link {
  padding-right: 10px;
}

.btn-cart {
  border: 1px solid gray;
  border-radius: 50px;
  padding: 2px 10px;
  background-color: transparent;
  cursor: pointer;
}

.title {
  text-align: center;
  margin: 2rem 0;
}

.products {
  margin: 0 1.5rem;
  gap: 1.3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px gray;
}

.product-img {
  text-align: center;
  padding: 8px;
}

.product-description {
  text-align: center;
  padding: 10px 0;
}

.product-actions {
  padding: 1rem 0;
  text-align: center;
}

.btn-add-cart {
  border: 1px solid black;
  border-radius: 50px;
  padding: 6px 12px;
  background-color: transparent;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.item-card {
  display: flex;
  gap: 6px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 8px gray;
  width: 400px;
  padding: 10px 16px;
}

.cart-item-img {
  max-width: 150px;
  max-height: 150px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.cart-actions {
  text-align: right;
  margin: 2rem;
}

.total-price {
  padding: 16px 0;
}

.checkout-btn {
  width: 200px;
  height: 50px;
  background-color: lightgreen;
  font-size: 1.2rem;
}

.item-add-remove {
  display: flex;
  gap: 10px;
}
